
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                

                <div class="alert alert-danger alert-dismissible fade in">

                    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                </div>
                @Html.Action("Create")
                <button type="button" class="btn btn-primary clc">Save</button>  <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
            </div>
            
            <!-- Modal footer -->
           

        </div>
    </div>
</div>
